@model IEnumerable<HydeMvcP1.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PetOwner.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apptDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PetOwner.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apptDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.appointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appointmentID })
        </td>
    </tr>
}

</table>
